h1 {text-align: center;
    color: red;
    text-shadow: 10px 4px 5px rgb(75, 7, 7);
}

.title {
    color: rgb(122, 87, 22);
}

#italic {
    color: orange;
}

nav {
    background-color: aquamarine;
    text-align: center;
}

.nav-wrapper {
    background-color: blue;
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.container {
    border: 10px dashed grey;
    margin: 50px 5px;
    padding: 30px 0px 10px 5px;
}

.box {
    background: blue;
    height: 200px;
    width: 200px;
    margin: 10px;   
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 4s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes bigger {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(.5);}
}

#box3 {
    animation: bigger infinite 8s ;
    border-radius: 50%;
    background: chartreuse;
}

@keyframes color {
    0% {background-color: grey;}
    25% {background-color: rgb(123, 236, 57);}
    50% {background-color: rgb(75, 107, 177);}
    75% {background-color: rgb(17, 19, 16);}
    100% {background-color: grey;}
}

#box4 {
    animation: color 3s 2s forwards;
}

@keyframes move {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 0px;}
    1000% {left: 0px; top: 0px;}
}

#box5 {
    background: red;
    animation: move 5s 3s;
    position: relative;
}

#box6 {
    position: relative;
    top: 10px;
    left: 20px;
}

html {
background-image: radial-gradient( rgb(174, 174, 226));
}

.circle-img {
    border-radius: 50%;
}

img {
    box-shadow: 3px 3px 4px 3px rgb(146, 144, 144, 0.849);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 30px;
    justify-content: space-around;
}

.content-box {
    display: flex;
    justify-content: center;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

form input, textarea, button {
    display: block;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
  }

  .Box {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5 ;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
  }
  .d {
    grid-column: col  / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
  }

  .e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink);
  }



